*{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;

	font-family: "Alike Angular", serif;
	font-weight: 400;
	font-style: normal;

	padding: 0%;
	margin: 0%;

    --mainColor: linear-gradient( to bottom right, rgba(145, 36, 155,15),rgba(228, 5, 128, 0.445));
	--side-Color: rgb(30, 30, 44);
    --secondColor:rgba(228, 5, 128, 0.445);
	--thirdColor: rgba(35, 37, 48, 0.521);
}
*:visited{
    color: inherit;
}
*:link{
    color: inherit;
}
#detach-button-host {
    display: none !important;
}
.fondamento-regular {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: normal;
}
.protest-revolution-regular {
	font-family: "Protest Revolution", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.alike-angular-regular {
	font-family: "Alike Angular", serif;
	font-weight: 400;
	font-style: normal;
}

.fondamento-regular-italic {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: italic;
}
.redacted-script-light {
	font-family: "Redacted Script", cursive;
	font-weight: 300;
	font-style: normal;
}

.redacted-script-regular {
	font-family: "Redacted Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.redacted-script-bold {
	font-family: "Redacted Script", cursive;
	font-weight: 700;
	font-style: normal;
}

/*--Main-Canvas--*/
body{
	position: relative;
    display: flex;
	text-align: center;
    overflow: hidden;
    background-color:#232530;
	height: 100vh;
}
.container{
	display: flex;
    flex: 1; /* Container takes up all available space */
	position: relative;
}
#Side-Menu {
	position: relative;
	width: 15em;
	background-color: var(--side-Color);
	border-right: 2px solid rgb(185, 0, 62);
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* this will create space between the elements */
	transition: width 0.3s ease;
}
.content-wrapper {
    display: flex;
    flex: 1; /* Flex container for app and side-extra */
    position: relative; /* Relative positioning for absolute children */
}
#app{
	flex: 1; /* Main content takes up remaining space */
	display: flexbox;
	float: right;
	flex-direction: column;
	z-index: 5;
	margin: auto 10px;
	margin-top: 5px;
	margin-bottom: 20%;
	
}
.startscreen{
	text-align: center;
	font-size: large;
	padding: 5px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: #222;
	color: gold;
	border: 1px solid #666;
	
}
.startscreen:hover{
	border: 1px solid #999;
	cursor: pointer;
	transition-duration: 0.2s;
}
.startParentParent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.startParent{
	width: -moz-fit-content;
	width: fit-content;
}
.startParent:hover .startscreen:not(:hover) {
    opacity: 0.5;
}
.Quest_Title{
    color: white;
	z-index: auto;
	position: relative;
	top: 0px;
	text-align: center;
	float: none;
	margin-bottom: 0;
	box-sizing:content-box;
	padding: .5em;
	
	/*margin-right: 15rem;*/

	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: normal;

}
.main{
	z-index: 5;
	padding-top: 5px;
	position: relative;

	
	top: 0;
	height: 100%;

	/*margin-right: 15em;*/
}
.main_section{
    color: white;
	text-align: center;
	font-size: large;
	width: 80em;
	margin: auto;
	padding-top: 20em;
    white-space: pre-wrap;
    word-wrap: break-word;
	word-break: keep-all;
}
#text{
	white-space: pre-wrap;
}
.choices_section{
	position: relative;
    color: white;
	z-index: auto;
	text-align: center;
	padding: 20px;
	padding-bottom: 20px;

	height: 5em;
	
	bottom: 0;

	background-color: var(--mainColor)
}
.Choices{
	float: left;
	width: auto 2em;
	height: auto;
	padding: auto 5px;
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;

}
.Choices:hover{
	text-decoration: underline;
	cursor: pointer;
	color: #298f76;
}
.Sh_1{
	color: #ff8686;
}
.Sh_1:hover{
	color: #ff0000;
}
.Sh_2{
	float: left;
	margin-left: 10%;
}
.Sh_7{
	float: right;
	margin-right: 20%;
	margin-left: 0;
}
/*	Inventory	*/
/* Define hover styles for the inventory items */
.inventoryItem {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

    /* Additional styles for a cleaner appearance */
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Hover styles for the inventory items */
.inventoryItem:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Lighter semi-transparent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow on hover for depth effect */
}

#inventory {
    position: relative;
	/*margin-right: 15em;*/
	margin-bottom: auto 12em;
    width: 100%; /* Full width */
	height: 100%;
    background-color: rgba(0, 0, 0, 0.048); /* Semi-transparent black background */
    display: none; /* Initially hidden */
    padding: 10px;
    box-sizing: border-box;
    z-index: 999; /* Ensure it's on top of other content */
    overflow: auto; /* Allow scrolling if inventory content exceeds height */
}

.pages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.page {
    /*width: calc(25% - 10px); /* Adjust based on desired grid layout */
	
    padding: 10px;
    border: 1px solid white;
    color: white;
}



/*--Side-Menu--*/
#Side-Menu_ColapseButton {
	z-index: 500;
	display: block;
    position: absolute;
	top: 0;
	right: 0;
	width: 35px;
    color: white;
    padding: 8px 12px; /* Adjust padding for button size */
    margin: 5px;
    border: 1px solid #999;
	border-right: none;
    background-color: transparent;
    cursor: pointer;
}

#Side-Menu_ColapseButton:hover {
    border-color: rgb(92, 92, 92);
    background-color: rgb(92, 92, 92);
}

/* Styles for the thick arrows (left and right) */
.thick-arrow-left, .thick-arrow-right {
    width: 15px;
    height: 15px;
    border: 5px solid #cccccc;
    border-left: 0;
    border-top: 0;
    
    vertical-align: middle; /* Align arrows vertically within button */
    transform: rotate(135deg); /* Adjust rotation angle for left arrow */
    cursor: pointer;
}

.thick-arrow-right {
    transform: rotate(315deg); /* Adjust rotation angle for right arrow */
}


.Side-Menu_Class{
	font-family: "Protest Revolution", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#Side-Menu1{
	margin: auto 5px;
	padding: auto 5px;
	margin-top: 5px;
}

#Side-Menu2 {
	background-color: var(--side-Color);
	
	width: 15em;
	height: 100%;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* this will create space between the elements */
	color: azure;
	margin-top: auto 15px;
}
#Side-Menu3 {
	background-color: var(--side-Color);
	
	width: 15em;
	height: 100%;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* this will create space between the elements */
	color: azure;
}
#Side-Menu4 {
	background-color: var(--side-Color);
	
	width: 15em;
	height: 100%;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* this will create space between the elements */
	color: azure;
	margin-bottom: 3em;
	margin-top: 15px;
}
.Side-Influences{
	width: 100%;
	height: 5px;
	background-color: rgb(61, 61, 61);
}
.Side-Influences_Bar{
	width: 50%;
	height: 5px;
	background-color: green;

}
.Pain{
	width: 1%;
	background-color: rgb(128, 0, 0);
}
.Fatigue{
	width: 1%;
	background-color: rgb(0, 192, 166);
}
.Fear{
	width: 1%;
	background-color: rgb(128, 0, 0);
}
.Stress{
	width: 1%;
	background-color: rgb(0, 192, 166);
}

.Trauma{
	width: 1%;
	background-color: rgb(0, 192, 166);
}
.Addiction{
	width: 1%;
	background-color: rgb(255, 208, 0);
}
.Sickness{
	width: 1%;
	background-color: rgb(134, 172, 0);
}
.Bleed{
	width: 1%;
	background-color: rgb(54, 0, 0);
}
.Control{
	width: 100%;
	background-color: green;
}
.bottom-links {
    display: flex;
    justify-content: flex-end; /* this will align the elements to the bottom */
}
#side-Title{
	/* existing styles */
	margin-bottom: 50px;
}
.Open-more{
    color: aqua;
	background-color: black;
	width: 5em;
	display: block;
	height: -moz-fit-content;
	height: fit-content;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	/* existing styles */
	margin-top: -10px;
	margin-bottom: 15px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.Open-more:hover{
    border: 1px solid lightgreen;
	cursor: pointer;
    
}.Open-more:active{
    box-shadow: none;
    transform: translateY(5px);
}
.settings{
    color: aqua;
	background-color: black;
	display: block;
	width: 5em;
	height: -moz-fit-content;
	height: fit-content;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.asettings{
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10em;
}
.settings:hover{
	color: aqua;
    border: 1px solid lightgreen;
	cursor: pointer;
}
#Side-image{
	/*background-image:;*/
	display: block;
}
#Side-Title{
	text-align: center;
	font-size: 25px;
	padding-top: 6%;
	color: gold;
	display: block;


}
	/* --Side Extra-- */
.Side-extra{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.575);
	z-index: 9999999;
	
	padding: auto 5px;
	border-radius: 5px;
	top: 4em;
	transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-out;
	visibility: hidden; /* Initially hide side-extra */
}
.Side-extra , .parent{
	/*position: absolute;*/
	background-color: var(--thirdColor);
	height: 99vh;
	text-align: left;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	

}
.Side-extra[data-visible=true] * {
	visibility: visible;
	opacity: 1;
  }
  
  .Side-more-ul[data-visible=true] > * {
	visibility: visible;
	opacity: 1;
  }
  
  .Save-ul[data-visible=true] > * {
	visibility: visible;
	opacity: 1;
}
[data-visible=true] {
	opacity: 1;
	visibility: visible; 
}
[data-visible=false] {
	opacity: 0;
	visibility:hidden; 
}
.parent .child1 {
	z-index: 9999999;
	color: white;
	opacity: 1;
	margin: 0;
	position: relative;
	text-align: center;
	background-color: var(--thirdColor);
	
}
.parent{
	z-index: 9999999;
	flex-direction: row;
	border: 2px solid rgba(68, 68, 68, 0.418);
	padding: 0;
	margin: 0;
	transition: opacity 0.5s ease-in-out;
}

.child1{
	width: 25%;
	height:inherit;
	top: 15px;
	z-index: 9999999;
	color: white;
	opacity: 1;
	


}
.Side-Saving{
	z-index: inherit;
}
.Save-ul{
    color: rgb(238, 144, 144);

	position: relative;
	width: 90%;
	height: 100%;
	padding: 0;
	margin: auto;
	
}
.Save-li{
	color: lightgreen;

	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display:block;
}.Save-li2{
	color: lightgreen;

	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display:block;
}
.load{
	font-size: 2em;

	
	width: auto;
	padding: 5px;
	height: auto;
}
.Save{
	font-size: 2em;

	flex-direction: column;
	width: auto;
	padding: 5px;
	height: auto;
}
.Button{
	color: white;
}
.Button:hover{
	cursor: pointer;
	color: blueviolet;
}
.Side-gameplay{
	opacity: 1;
	border-left: 3px solid  --thirdColor;
	border-right: 3px solid  --thirdColor;
}
.Side-grafics{
	opacity: 1;
	border-right: 3px solid  --thirdColor;
}
.Side-more{
	opacity: 1;
	
}
.Side-more-ul{
	position: relative;
	width: 80%;
	padding: 0;
	margin: auto;
}
.Side-more-li{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}