*{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;

    --mainColor: linear-gradient( to bottom right, rgba(145, 36, 155,15),rgba(228, 5, 128, 0.445));
    --secondColor:rgba(228, 5, 128, 0.445);
}
*:visited{
    color: inherit;
}
*:link{
    color: inherit;
}
#detach-button-host {
    display: none !important;
}
/*--Main-Canvas--*/
body{
    display: flex;
	text-align: center;
    overflow: hidden;
    background-color:#232530;
}
#app{
	display: block;
	float: right;
	width: calc(100% - 12em);
	height: 99vh;
}
.Quest_Title{
    color: white;
}
.main{

}
.main_section{
    color: white;
}
.footer_section{
    color: white;
}
/*--Side-Menu--*/
#Side-Menu{
	background-color: var(--mainColor);
	border: 2px solid gold;
    display: block;
    float: left;
	width: 12em;
	height: 99vh;
	text-align: left;
	display: flex;
	flex-direction: column;

}
#Side-image{
	/*background-image:;*/
	display: block;
}
#Side-Title{
	text-align: center;
	font-size: 1vw;
	padding-top: 6%;
	color: gold;
	display: block;
}
.Open-more{
    color: aqua;
	background-color: black;
	width: 5em;
	display: block;
	height: fit-content;
	padding: 0.5em;
	margin-left: 30%;
}
.Open-more:hover{
	color: aqua;
    border: 1px solid lightgreen;
    
}
.settings{
    color: aqua;
	background-color: black;
	display: block;
	width: 5em;
	height: fit-content;
	padding: 0.5em;
	margin-left: 30%;
}
.settings:hover{
	color: aqua;
    border: 1px solid lightgreen;
    
}
.Side-extra{
	background-color: gray;
	opacity: 0;
	margin-left: -12em;

}
.il,ul{
	color: white;
	opacity: 1;
}
.Side-gameplay{

}
.Side-grafics{

}
.Side-more{

}


/*--Settings--*/
.save{
    color: lightgreen;
    border: 1px hidden lightgreen;
}
.save:hover{
    color: green;
    border: 1px solid lightgreen;
}
