button{
    color: inherit;
    height: inherit;
    width: inherit;
    box-shadow: 1px 1px 0px black;
}
.prprp{
    margin-top: 15px;
}
#a_backMain{
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    right:calc(100vw - 55%);
    margin-left: 1%;
    height: -moz-fit-content;
    height: fit-content;
    top: -50px;
    color: rgb(67, 0, 129);
    box-shadow: 2px 2px 10px rgb(219, 4, 4), 5px 12px 20px rgb(145, 36, 155);
    background:  linear-gradient( to bottom right, rgba(145, 36, 155,15),rgba(228, 5, 128, 0.445));
    transition: background-color 0.2s;

}
#a_back{
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    right:calc(100vw - 55%);
    margin-left: 1%;
    height: -moz-fit-content;
    height: fit-content;
    top: -50px;
    color: rgb(67, 0, 129);
    box-shadow: 2px 2px 10px rgb(219, 4, 4), 5px 12px 20px rgb(145, 36, 155);
    background:  linear-gradient( to bottom right, rgba(145, 36, 155,15),rgba(228, 5, 128, 0.445));
    transition: background-color 0.2s;
}
#nav_BAck{
    position: relative;
    text-align: center;
    right: 40%;
    top: -50px;
}
button:active:not(.disable, .Btn-backforward){
    box-shadow: none;
    transform: translateY(5px);
}
.tabletable {
    display: flex;
    
    
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
}

.Allsection{
    border: .1px solid;
    border-color: rgb(96, 27, 160);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;


}
.sectionNULL{
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255);
    
}
.Num1{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
}
.SaveGameH{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
}
.load_gameSH{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
}
.Th_NameH{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    width: 300px;
}
.Del_gameH{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
}
.Th_Name{
    background-color: transparent;
    color: blueviolet;
    
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    width: 300px;
}
.BtnTable{
    background-color: transparent;
    color: blueviolet;
    border: 1px solid transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

    text-align: center;
}
.BtnTable:hover:not(.disable, .pagesLG){
    border-color: blueviolet;
    animation: biggier .5s linear forwards;
}
.DEl:hover{
    border-color: red;
    color: red;
}
.section0{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.section1{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.section2{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.section3{
    height: -moz-fit-content;
    height: fit-content;
}
.section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.thick-arrow-left-SG, .thick-arrow-right-SG {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-left: 0;
    border-top: 0;
    color: black;
    background-color: transparent;
    padding: 0%;
    vertical-align: middle; /* Align arrows vertically within button */
    transform: rotate(135deg); /* Adjust rotation angle for left arrow */
    cursor: pointer;
}
.thick-arrow-right-SG {
    transform: rotate(315deg); /* Adjust rotation angle for right arrow */
}
.ApplyB{
    color: brown;
    padding-left: 50px;
}
.ApplyB:hover{
    color: red;
}
#TitleS{
    color: white;
}
